* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generali */
body {
    font-family: sans-serif;
}


/* Header */

header {
    width: 1170px;
    height: 200px;
    margin: 0 auto;
    padding-top: 20px;

}

/* Navbar  generals */
.navbar,
.navbar-left,
.navbar-right{
    display: flex;
}

.navbar {
    justify-content: space-between;
}

.navbar-left,
.navbar-right {
    list-style: none;
    align-items: center;
    font-size: 14px;
}

.navbar-left li,
.navbar-right li {
    margin-left: 20px;;
}

.navbar-left a,
.navbar-right a {
    position: relative;
    text-decoration: none;
    color: #888;
}

/* Navbar left */
.navbar-left {
    text-transform: uppercase;
}

.navbar-left .color-dark {
    color: #333;
}

.navbar img {
    width: 100px;
    height: auto;
}

/* Navbar right */
a.btn {
    padding: 10px 20px;
    background: #eb2b8d;
    border-radius: 20px;
    color: #fff;
}

.navbar-right i {
    margin-left: 3px;
    font-size: 10px;
    color: #333;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none; /* jQuery */
    position: absolute;
    top: 10%;
    right: 20%;
    padding: 0 20px;
    background: #fff;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));

}

.dropdown-menu ul {
    list-style: none;
}

.dropdown-menu ul li {
    padding: 10px 0;
    margin: 0;
}